/* Use media queries to change the page layout for mobile (320px), tablet (768px) and desktop (1200px+) screen sizes
Position elements */

.container {
  position: relative;
  background-color: rgb(255, 250, 245);
  font-family: 'Cormorant', serif;
  color:#000000;
  margin: 100px 200px 100px 200px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 19px;
}

/* Menu navigation */
.menu-column {
  position: relative;
  display: flex;
 
}

.nav {
  color:#2a2a2a;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  text-decoration: none;
  transition: 100ms;
  padding-top: 2px;
}

.nav:hover {
  color: rgb(144, 82, 58);
  text-decoration: none;
}


li {
  margin-top: 10px;
}

/* Blog posts */

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
}

.blog-post {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(200, 200, 200);
  margin-top: 20px;
}

.image-thumbnail {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.post-heading {
  font-size: 30px;
  text-decoration: none;
  color:#2a2a2a;
  transition: 100ms;
}

.post-heading:hover {
  color: rgb(144, 82, 58);
}

.blog-tag {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.entry-excerpt {
  font-size: 18px;
  line-height: 24px;
}

.entry-nav {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(144, 82, 58);
  align-items: bottom;
}

