.container {
  position: relative;
  top: auto;
  justify-content: center;
  background-color: rgb(255, 250, 245);
  font-family: 'Cormorant', serif;
  color:#3f3c3c;
  margin: 100px 175px 100px 175px;
}

/* Menu navigation */

#myName {
  font-family: 'Cormorant', serif;
  font-weight: 300;
  font-size: 1.3em;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

nav ul {
  display: inline-flex;
  padding: 20px;
  list-style: none;
  gap: 10px;
}

.nav-link {
  color: #3f3c3c;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  text-decoration: none;
  transition: 100ms;
}

.nav-link:hover {
  color: rgb(144, 82, 58);
  text-decoration: none;
} 

/* ----- Homepage text and general text sizes ----- */

.homepage-text {
  padding: 5px 5px 50px 5px;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}


/* ----- Blog posts ----- */

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  border-top: 1px solid rgb(200, 200, 200);
}

.blog-post {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(200, 200, 200);
  margin-top: 20px;
}

.image-thumbnail {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.post-heading {
  font-size: 30px;
  text-decoration: none;
  color:#3f3c3c;
  transition: 100ms;
}

.post-heading:hover {
  color: rgb(144, 82, 58);
}

.blog-tag {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.entry-excerpt {
  font-size: 19px;
  line-height: 28px;
}

.entry-nav {
  font-family: 'Inter', sans-serif;
  color: #3f3c3c;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(144, 82, 58);
  /* align-items: bottom; */
}

/* ----- footer ----- */

.footer {
  margin-top: 40px;
}

/* ----- Blog entry pages ----- */

h1 {
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

.blog-grid2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border-top: 1px solid rgb(200, 200, 200);
}

.blog-image {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-top: 20px;
}


/* ----- Media queries ----- */

@media screen and (max-width: 767px) {
  .container {
    margin: 25px;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: 100%;
  }

  .blog-grid2x2 {
    display: grid;
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px){
  .container {
    margin: 30px 50px;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

}

