.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  top: 10px;
  justify-content: center;
  background-color: rgb(255, 250, 245);
  font-family: 'Cormorant', serif;
  color:#3f3c3c;
  margin: 100px 175px 100px 175px;
}

hr {
  border-top: 1px solid rgb(200, 200, 200);
  margin-top: 40px;
}

.figcaption {
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Menu navigation */

.nav-logo {
  font-family: 'Cormorant', serif;
  font-weight: 300;
  font-size: 2.5em;
  color:#3f3c3c;
  transition: 100ms;
}

.nav-logo:hover {
  color: rgb(144, 82, 58);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-listitem {
  display: inline-flex;
  justify-content: end;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link {
  color: #3f3c3c;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  transition: 100ms;
}

.nav-link:hover {
  color: rgb(144, 82, 58);
}

/* ----- General text sizes ----- */

.homepage-text {
  padding: 5px 5px 50px 5px;
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

h5 {
  font-size: 1.3em;
  font-weight: 400;
  font-style: italic;
}

h6 {
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 0px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

/* ----- Blog posts ----- */

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  border-top: 1px solid rgb(200, 200, 200);
}

.blog-post {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(200, 200, 200);
  margin-top: 20px;
}

.image-thumbnail {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.post-heading {
  font-size: 30px;
  text-decoration: none;
  color:#3f3c3c;
  transition: 100ms;
}

.post-heading:hover {
  color: rgb(144, 82, 58);
}

.blog-tag {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.entry-excerpt {
  font-size: 19px;
  line-height: 28px;
}

.entry-nav {
  font-family: 'Inter', sans-serif;
  color: #3f3c3c;
  font-size: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(144, 82, 58);
}


/* ----- footer ----- */

.footer {
  margin-top: 40px;
}

/* ----- Blog entry pages ----- */


.blog-grid2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border-top: 1px solid rgb(200, 200, 200);
}

.blog-image {
  max-width: 100%;
  /* aspect-ratio: 1 / 1; */
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-entry p {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.blog-bullets {
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
}

.underline {
  text-decoration: underline;
}

.image-thumbnail {
  transition: opacity 100ms ease-in-out;
}

.image-thumbnail:hover {
  opacity: 75%;
}

.blog-video {
  max-width: 100%;
  /* aspect-ratio: 1 / 1; */
  object-fit: contain;
  margin-top: 20px;
}

/* ----- Media queries ----- */

@media screen and (max-width: 767px) {
  .container {
    margin: 25px;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: 100%;
  }

  .blog-grid2x2 {
    display: grid;
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px){
  .container {
    margin: 30px 50px;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

}